{% extends 'base.html' %}

{% block content %}
<style>
    body {
    margin-left: 3%;
    margin-right: 3%;
    }
</style>
<div>
    <img src="https://media.giphy.com/media/Umw00qZTgLxO99wYMy/giphy.gif" >
    <br>
    <h2>
        Use this Flask web-application built with MongoDB and the PyMongo driver to keep track of the films you watch. 
    </h2>
    <p><strong>Full List:</strong> View all films, edit films and delete films.</p> 
    <p><strong>Add New Film:</strong> Add a new film title, director, release year, rating and review.</p>
    <p><strong>Suggest a Film:</strong> Can't decide what to watch? Let this generate a suggestion (or two).</p>
</div>
{% endblock %}