{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} Update This Movie {% endblock %}</h2>    
    <form method="POST">
        <label for="title">Title</label>
            <input type="text" name="title" value="{{movie['title']}}"></input>
        <label for="year">Year</label>
            <input type="number" name="year" min=1900 max=2022 value={{movie['year']}}></input>
        <label for="director">Director</label>
            <input type="text" name="director" value="{{movie['director']}}"></input>
        <br>
        <label for="rating">Rating</label>
            <input type="number" name="rating" value={{movie['rating']}}></input>
        <label for="date_watched">Date Watched</label>
            <input type="date" name="date_watched" value="{{ request.form['date_watched'] }}" required>
        <br>
        <label for="review">Review</label>
        <br>
        <textarea name="review" rows="10" cols="40">{{movie['review']}}</textarea>
        <br>
        <button type="submit">Update Film</button>
        <a href='/' type="button">Back -></a>
    </form>
{% endblock %}